<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.museoapp">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuseoApp">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".MapaGoogle"
            android:exported="false" />
        <activity
            android:name=".MuseumDetail"
            android:exported="false" />
        <activity
            android:name=".ArtworkDetail"
            android:exported="false" />
        <activity
            android:name=".ShowArtwork"
            android:exported="false" />
        <activity
            android:name=".ShowMuseum"
            android:exported="false" />
        <activity
            android:name=".ShowCity"
            android:exported="false" />
        <activity
            android:name=".NewCity"
            android:exported="false" />
        <activity
            android:name=".NewArtWork"
            android:exported="false" />
        <activity
            android:name=".NewMuseum"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>